@media screen and (max-width: 600px) {
    :root {
        --header-height: 15vh;
        --nav-bar-height: 15vh;
        --section-1-height: 25vh;
        --section-2-height: 25vh;
        --footer-height: 20vh;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: var(--header-height) var(--nav-bar-height) var(--section-1-height) var(--section-2-height) var(--footer-height);
        gap: 0;
        width: 100%;
        height: 100vh;
    }

    .header {
        grid-row: 1;
        grid-column: 1;
        padding-left: 20px;
        text-align: left;
        border: 2px solid blue;
        height: var(--header-height);
    }

    .header h1 {
        font-size: 24px;
    }

    .nav_bar {
        grid-row: 2;
        grid-column: 1;
        display: flex;
        flex-direction: column;
        border: 2px solid green;
        height: var(--nav-bar-height);
    }

    .nav_home, .nav_profile, .nav_about {
        width: 100%;
    }

    .main {
        grid-row: 3 / span 2;
        grid-column: 1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: var(--section-1-height) var(--section-2-height);
        gap: 0;
        border: 2px solid blue;
        height: auto;
    }

    .section_1 {
        grid-row: 1;
        grid-column: 1;
        border: 2px solid orange;
        height: var(--section-1-height);
    }

    .section_2 {
        grid-row: 2;
        grid-column: 1;
        border: 2px solid purple;
        height: var(--section-2-height);
    }

    .footer {
        grid-row: 5;
        grid-column: 1;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        border: 2px solid brown;
        height: var(--footer-height);
    }

    .footer_contact_us, .footer_events, .footer_blog {
        width: 100%;
        height: auto;
    }
}



/* OLD VERSION OF CSS */

@media screen and (max-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
        gap: 5px;
        width: 100%;
        height: 100%;
    }

    .header {
        grid-row: 1;
        grid-column: 1;
        padding-left: 20px;
        text-align: left;
    }

    .header h1 {
        font-size: 24px;
    }

    .nav_bar {
        grid-row: 2;
        grid-column: 1;
        height: auto;
        flex-direction: column;
    }

    .nav_home, .nav_profile, .nav_about {
        width: 100%;
    }

    .main {
        grid-row: 3;
        grid-column: 1;
    }

    .section_1 {
        grid-row: 1;
    }

    .section_2 {
        grid-row: 2;
    }

    .footer {
        grid-row: 4;
        grid-column: 1;
        flex-direction: column;
        height: auto;
    }

    .footer_contact_us, .footer_events, .footer_blog {
        width: 100%;
    }
}